<div class="container">
  <div class="finish">
    <div class="finish__body">
      <p class="secondary-heading">
        Your score is {{ score }} out of {{ totalQuestions }}.
      </p>
      <div class="finish__stat">
        <p class="secondary-heading">Time spent playing: {{ timeTaken }} s.</p>
        <p class="secondary-heading">
          Average time per question: {{ additionalStat1 }} s.
        </p>
      </div>
      <div class="game-btn-body">
        <button class="game-btn" (click)="showAnswers()">Show answers</button>
      </div>
      <div class="game-btn-body">
        <button class="game-btn" (click)="resetGame()">More quizz</button>
      </div>
    </div>
  </div>
  <h3 *ngIf="showAnswer">Answers to questions:</h3>
  <div class="answer answer__body" *ngIf="showAnswer">
    <div class="answer__item" *ngFor="let answer of userAnswers">
      <ul>
        <li>
          <p><strong>Question:</strong> {{ answer.question }}</p>
          <p><strong>Answer:</strong> {{ answer.selectedAnswer }}</p>
          <p><strong>Correct answer:</strong> {{ answer.correctAnswer }}</p>
          <p *ngIf="answer.isCorrect" style="color: green">Correct answer!</p>
          <p *ngIf="!answer.isCorrect" style="color: red">Incorrect answer!</p>
        </li>
      </ul>
    </div>
  </div>
</div>
