body {
  font-family: "Caveat", cursive;
}

.secondary-heading {
  font-size: 24px;
  color: black;
}
.primary-heading {
  font-size: 32px;
  color: black;
  text-align: center;
}

.heading-tertiary {
  text-align: center;
  color: #35640a;
  font-size: 24px;
  line-height: 24px;
  max-width: 150px;
  height: 65px;
}
