.game-box {
  width: 20vw; /* Ширина 20% от ширины экрана */
  height: 20vw; /* Высота равна ширине для создания квадрата */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; /* Цвет фона квадрата */
  border: 2px solid #ccc; /* Граница квадрата */
  border-radius: 10px; /* Скругленные углы */
}

.game-box h1 {
  margin: 0;
  font-size: 1.5rem;
}

.game-box button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.game-box button:hover {
  background-color: #0056b3;
}
