<section class="home">
  <div class="container">
    <div class="home__heading">
      <h1 class="primary-heading">Play random Quizz</h1>
      <button class="imlucky-btn" (click)="playRandomQuiz()">I'm lucky</button>
    </div>
    <h1 class="primary-heading">Select a game by topic</h1>

    <app-loader *ngIf="isLoading"></app-loader>

    <div class="home__games-body">
      <div *ngFor="let category of categories" class="item">
        <h3 class="heading-tertiary">{{ category.name }}</h3>
        <p class="heading-tertiary">Questions: {{ questionsCount }}</p>
        <button class="play-btn" (click)="play(category.id, category.name)">
          Play!!!
        </button>
      </div>
    </div>
  </div>
</section>
